*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}

body {
    font-family: "Lato", sans-serif;
}

/*************** header *******************/

.header{
    display: inline-flex;
    margin-top: 20px;
    width: 100%;
    height: 70px;
}

.header .menu-pricipal {
    margin-left: 21%;
    margin-right: 10px;
    margin-top: 8px;
}

.header h1 {
    margin-top: 10px;
    margin-left: 4%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #1F1F1F;
}

.header li {
    display: inline-block;
    padding-right: 24px;
}

.menu-li a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #1F1F1F;
    text-decoration: none;
}

.menu-li a:hover{
    text-decoration: underline;
    color: rgb(68, 67, 67);
}

.header .dados-cabecalho {
    display: inline-flex;
}

.dados-cabecalho .form {
    margin-left: 100%;
    position: absolute;
    right: 10%;
    margin-bottom: 2px;

}

.form #pesquisa {
    width: 235px;
    height: 40px;
    background-image: url('lupa.png');
    background-repeat: no-repeat;
    background-position: 8px 10px;
    padding-left: 30px;
    border-radius: 50px;
    border: 0.9px solid #f3f3f3;
}

.dados-cabecalho img {
    position: absolute;
    top: 30px;
    right: 5%;
}

/*************** Main *******************/

.section-detalhes {
    display: flex;
    width: 100%;
    height: 700px;
    margin-top: 50px;
    background: #ffffff;;
}

.section-texto {
    margin-left: 4%;
}

.section-texto h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 90px;
    line-height: 104px;
    background: linear-gradient(270.06deg, #DADADA 20.97%, #9F9F9F 99.92%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-texto p {
    margin-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #1F1F1F;
}

.section-texto button {
    margin-top: 60px;
    height: 60px;
    width: 250px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    color: #1F1F1F;
    border-radius: 7px;
    border-color: #222222;
}

.section-imagem img {
    width: 800px;
    height: 541px;
    object-position: right;
}


.aside-itens {
    width: 100%;
    height: 700px;
    text-align: center;
}

.aside-itens .container-itens {
    width: 91%;
    height: 640px;
    margin: 0 auto;
    background: #F3F3F3;
}

.aside-itens h2 {
    padding-top: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    color: #1F1F1F;
}
 
.aside-itens li {
    margin-top: 50px;
    display: inline-block;
}

#color-branco {
    margin-right: 2px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: linear-gradient(270.06deg, #f8f8f8 20.97%, #FFFFFF 99.92%);
    border: 2px solid rgba(31, 31, 31, 0.7);
}

#color-dourado {
    margin-right: 2px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: linear-gradient(277.74deg, #FFE08D 9.16%, #FFB757 91.03%);
    opacity: 0.5;
    border: 2px solid #FFFFFF;
}

#color-cinza {
    margin-right: 2px;
    width: 32px;
    border-radius: 50%;
    height: 32px;
    background: linear-gradient(270.06deg, #464646 20.97%, #D3D3D3 99.92%);
    opacity: 0.5;
    border: 2px solid #FFFFFF;
}

#color-grafite {
    margin-right: 2px;
    width: 32px;
    border-radius: 50%;
    height: 32px;
    background: linear-gradient(270.06deg, #232323 20.97%, #000000 99.92%);
    opacity: 0.5;
    border: 2px solid #FFFFFF;
}

.aside-itens img {
    width: 464px;
    height: 241.38px;
    display: block;
    margin-left: 35%;
}

.aside-itens span {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    display: block;
    align-items: center;
    text-align: center;
    color: #1F1F1F;
}

.aside-itens .btn {
    margin-top: 50px;
    display: block;
    width: 336px;
    height: 84px;
    margin-left: 39%;
    background: #F3F3F3;
    border-color: #222222;
    border-radius: 12px;

    /*Cor do texto*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #1F1F1F;
}

.section-levesa-agilidade {
    width: 100%;
    height: 500px;
    margin-top: 2%;
    margin-bottom: 80px;
}

.container {
    display: flex;
    width: 91%;
    margin: 0 auto;
}

.container .section-text {
    width: 50.5%;
}

.container .section-image {
    width: 50%;
}
 
.section-text-p {
    width: 85%;
    margin-top: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18.2px;
    line-height: 20px;
    color: #1F1F1F;
}

.section-h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 64px;
    display: flex;
    align-items: center;
    background: linear-gradient(270.06deg, #DADADA 20.97%, #9F9F9F 99.92%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;
}

#image-leveza-agilidade {
    width: 604px;
    height: 500px;
}

.section-amortecimento {
    width: 100%;
    height: 500px;
    margin-top: 2%;
    margin-bottom: 80px;
}


#image-corre {
    width: 374px;
    height: 500px;
    
}

#image-parado {
    width: 222px;
    height: 500px;
    
}

.section-text-right {
    width: 40%;
}

.section-text-p-right {
    margin-top: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18.2px;
    line-height: 25px;
    color: #1F1F1F;
}

.section-image-left {
    width: 60%;
}

.section-run {
    background-image: url('correr.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 720px;
    display: inline-block;
    margin-bottom: 80px;
}

.section-run .section-run-text {
    position: absolute;
    top: 3420px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

#section-p {
    position: absolute;
    left: 50px;
    top: 3310px;
    margin-left: 10px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
#arrow-image {
    position: absolute;
    width: 44px;
    height: 45px;
    left: 25px;
    top: 3350px;
}

.section-rodape {
    width: 100%;
    height: 500px;
    margin-top: 2%;
    margin-bottom: 80px;
}

.section-rodape .div-mapa {
    width: 65%;
}
.section-rodape #img-mapa {
    width: 750px;
    height: 500px;
}

.section-rodape .fundo-form {
    height: 500px;
    margin-left: 20px;
    background: #F3F3F3;
}

.fundo-form #contacte-nos {
    margin-left: 20px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    color: #1F1F1F;
}

.fundo-form .form {
    /* Rectangle 9 */
    margin: 20px;
    width: 400px;
    height: 450px;    
}

.form .input-text-email {
    margin: 6px 5px;
    width: 398px;
    height: 40px;
    padding: 10px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    background: #FFFFFF;
    border-radius: 12px;
    border: 0.9px solid #f3f3f3;
}

.form #form-textarea {
    margin: 6px 5px;
    width: 398px;
    height: 160px;
    padding: 10px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    background: #FFFFFF;
    border-radius: 12px;
    border: 0.9px solid #f3f3f3;

    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
}

.form .form-termo {
    /* Concordo com a política de privacidade */
    margin: 6px 5px;
    width: 398px;
    height: 28px;
    display: block;
}

.form .btn-enviar {
    margin: 6px 5px;
    width: 402px;
    height: 40px;
    padding: 10px;
    border: 2px solid #1F1F1F;
    box-sizing: border-box;
    border-radius: 8px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 2px;
    color: #1F1F1F;
}

/*************** footer *******************/

.footer {
    width: 100%;
    height: 0px;
    margin-top: 2%;
    margin-bottom: 80px;
}

.footer ul {
    display: inline-block;
    padding-left: 100px;
    margin: auto 25px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    align-items: center;
}

.div-footer .li-ajuda {
    position: absolute;
    top: 4715px;
}

.div-footer .li-title {
    padding-bottom: 10px;
}

.div-footer a:link {
    text-decoration: none;
    color: #1F1F1F;
}

.div-footer a:visited {
    text-decoration: none;
    color: #1F1F1F;
}

.container-footer {
    display: flex;
    width: 91%;
    margin: 0 auto;
}

.div-footer {
    margin-left: 50px;
}

.title-footer {
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    color: #1F1F1F;
}
.div-footer .redes-sociais {
    display: inline-block;
    margin-right: 10px;
}

.rodape-desenvolvedor {
    display: block;
    width: 100%;
    margin-top: 20px;
    text-align: center;
}


.redes {
    position: absolute;
}
